import Header from './Header.astro';
import Footer from './Footer.astro';

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>MooseNeuro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/global.css">
  </head>
  <body class="bg-white text-gray-800">
    <Header />
    <main class="min-h-screen p-4 max-w-5xl mx-auto">
      <slot />
    </main>
    <Footer />
  </body>
</html>
